
/* navbar  */
.navbar{
    border-bottom: 0.1px white solid;
    align-items: center;
    color:white;
    background-color:orange;
}

.display-flex{
    display:flex;
    justify-content: space-evenly ;
}

.navbar-ul{
    margin: 20px 100px;
}
.navbar-ul li{
    list-style: none;
    margin: 0 10px;
}

.logo{
    margin-left: 30px;
    font-size: 1.3em;
}

/* h1 */
.titulo-principal{
    text-align: center;
    font-weight: 500;
    margin-top: 30px;
    font-size: 3em;
}