
/* navbar  */
.navbar{
    border-bottom: 0.1px white solid;
    align-items: center;
    color:white;
    background-color:orange;
}

.display-flex{
    display:flex;
    justify-content: space-evenly ;
}

.navbar-ul{
    margin: 20px 100px;
}
.navbar-ul li{
    list-style: none;
    margin: 0 10px;
    
}
.navbar-ul li a{
    color: white;
    text-decoration: none;
}

.logo{
    margin-left: 30px;
    font-size: 1.3em;
    color: white;
    text-decoration:none;
}

/* h1 */
.titulo-principal{
    text-align: center;
    font-weight: 500;
    margin-top: 30px;
    font-size: 3em;
}

/* producto list container*/

.producto-container{
    width: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 30px;
    border: 0.3px solid black;
    padding: 10px;
    border-radius: 15px;
}
.producto-container img{
    width:100%;
}

.producto-container button{
    margin: 5px 0;
    background-color: lightblue;
    color:white;
    border:none;
    border-radius: 7px;
    padding: 8px;
    cursor: pointer;
    width: 100%;
}



.productos-container{
    display: flex;
    flex-wrap: wrap;
}


/* producto detail container */

.item-detail{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.item-detail img{
    width: 400px;
    display: inline;
}
.item-detail-contenedor{
    margin: 0 20px;
}

/* item count */
.button-container{
margin-top: 40px;
}
.contador{
    font-size: 25px;
}

.button-increment{
    font-size: 30px;
    padding: 10px;
    margin: 0 10px;
    color: black;
    border: none;
    cursor: pointer;
    background-color: inherit;
}

.button-decrement{
    font-size: 30px;
    padding: 10px;
    margin:0 10px;
    background-color: inherit;
    color: black;
    border: none;
    cursor: pointer;
}

.button-add{
    background-color: orange;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.button-add-disabled{
    padding: 10px;
}
.button-checkout{
    margin: 10px 0;
    padding: 10px;
    background-color: red;
    color: bisque;
    border: none;
    cursor: pointer;
}
/* cart widget */
.white{
    color:white;
}
/* cart */

.d-flex{
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}
.titulo-carrito{
    text-align: center;
    margin-top:20px;
}
.continua-comprando{
    padding: 7px;
    cursor: pointer;
    background-color: black;
    border-radius: 5px;
}
.continua-comprando a{
    text-decoration: none;
    color:white;
}

.producto-en-carrito{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.producto-en-carrito img{
    width: 200px;
}


.descripcion-en-carrito{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.precio-en-carrito{
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 20px;
}
.borrar-todo{
    padding: 7px;
    background-color: red;
    border: none;
    border-radius: 7px;
    cursor: pointer;

}
.borrar-producto{
    padding: 7px;
    background-color: red;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin: 0 20px;
}
.precio-total-por-producto{
    font-size:1.3em;
}
.precio-total-por-producto span{
    font-weight: bold;
}